/* .card-body{
    width: 20rem;
} */

h1{
    margin: 20px 0px;
    font-family: "pacifico", cursive;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 2px 2px #95897A;
}

.card{
    width: 10px;
}

.jumbotron{
    padding: 350px 20px;
    margin: 0;
    background-image: url(../src/modifiednbanner.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
} 

.site-footer {
    background-image: linear-gradient(#6A4C32, #654734);
    padding: 20px 0;
}

.bottom-links ul{
    color: black;
}